*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin: 30px 0;
    font-family: cursive;
}
 body{
    display: grid;
    align-items: center;
    justify-content: center;
 }
section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}
img{
    width: 215px;
    height: 215px;
    object-fit: cover;
}
form{
    display: grid;
    gap: 10px;
    border: 1px dashed blue;
    padding: 10px;
}
p{
    text-align: center;
}
button{
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: lightgray;
}