*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin: 30px 0;
    font-family: cursive;
    text-shadow: 5px 5px 5px darkgray;
}
 body{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: gray;
 }
 section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}
p{
    text-align: center;
    width: 290px;
}
form{
    display: grid;
    gap: 15px;
    padding: 10px;
    width: 310px;
    border: 1px dashed blue;
    background-color: white;

}
form div{
    height: 290px;
    width: 290px;
    border: 1px solid;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    width: 290px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: lightgray;
}
@media (max-width: 1024px) {
    section {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
}

@media (max-width: 768px) {
    section {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }
}